.calendar-container {
  margin: 0 30px;
}

.calendar-controls {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.calendar-controls div {
  width: 150px;
  text-align: center;
}

.calendar-header {
  display: flex;
  padding: 30px 10px 10px;
  background-color: #dddddd;
  border-bottom: 1px solid #bababa;
  color: grey;
}

.calendar-header div {
  flex: 1;
}

.calendar-row {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.calendar-row-item {
  flex: 1;
  height: 60px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.calendar-row-item:hover {
  outline: 1px solid #ccc;
}

.calendar-row-item.not-current-month-day {
  background-color: rgb(250, 249, 248);
}