.calendar-header {
  display: flex;
}

.calendar-header div {
  flex: 1;
}

.calendar-row {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.calendar-row-item {
  flex: 1;
  height: 60px;
  padding-top: 10px;
}